[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=NeurosLink Information
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=About NeurosLink
Exec=neuroslink-version.py
Icon=/usr/share/pixmaps/synaptic.png
Comment[en_US]=System Information and Details
GenericName[en_US]=NeuorsLink System Information
